<manifest>
    <activity
        android:resizeableActivity="true"
        android:supportsPictureInPicture="true"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|smallestScreenSize|orientation"
    >
    </activity>
</manifest>
